
@font-face {
  font-family: 'heuristicsFont';
  src: 
    local('Heuristics Font'),
    local('Heuristics-Font'),
    url('../fonts/code_pro_light.otf') 
    format('opentype');
}

@font-face {
font-family: 'Acumin Pro';
font-style: normal;
font-weight: normal;
src: local('Acumin Pro'), url('../fonts/Acumin-RPro.woff') format('woff');
}

@font-face {
font-family: 'OnProCon';
font-style: normal;
font-weight: lighter;
src: local('OnProCon'), url('../fonts/miso-light.ttf');
}

@font-face {
font-family: 'link';
font-style: normal;
font-weight: lighter;
src: local('link'), url('../fonts/gligoth.ttf');
}


.CSEC 
{
  font-family: 'Acumin Pro', sans-serif;
  font-weight: lighter;
  flex-grow: 1.3;
  font-size: 22px;
  margin-top: 15px;
}

.Heuristics
{
  font-family: 'heuristicsFont', sans-serif;
  font-size: 70px;
  font-weight: thin;
  z-index: 1;
  margin-top: -1px;
  margin-bottom: 5px;
  margin-left: 24px;
}

.iteration
{
  color : red;
  z-index: 1;
  margin-top: -1px
}

.OPC
{
  font-family: 'OnProCon', sans-serif;
  font-weight: lighter;
  z-index: -1;
  font-size: 38px;
  margin-top: -60px;
  margin-bottom: -20px;
}

.horizontal{
  display : flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.posterContainer{
  display : flex;
  flex-direction: column;
  text-align: center;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.logo
{
  width: 50px;
  height: 50px;
  text-align: left; 
}


.logonith
{
  width: 55px;
  height: 55px; 
  align-self: right;
}


.page {
    width: 163mm;
    height: 230mm;
    padding: 5mm;
    margin: 2mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.image {
	width : 90%;
	height : 60%;
}

.qr{
  max-height: 70px;
  min-height: 70px;
  margin-top: 10px;
  margin-left: 20px;
}

.date{
  align-self: left;
} 

.time{
  align-self: right;
}

.space{
  flex-grow: 1;
}


.link
{
  flex-grow: 2;
  font-family: "link";
  font-size: 20px;
}

.contacts
{
  font-family: 'Acumin Pro', sans-serif;
  font-weight: lighter;
  display : flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  margin-top: -20px;
  margin-bottom: 0px;
}

.contact
{
  display : flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-top: 0px;
  margin-bottom: 0px;  
}

.vertical{
  display: flex;
  flex-direction: column;
}

.rule{
  color: blue;
  width: 75%;
  margin-top: -15px;
  margin-bottom:  5px;
}